@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	background: #f1f0f8;
}

@layer components {
	.btn {
		@apply cursor-pointer inline-flex gap-1 items-center justify-center rounded-md bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:opacity-80 sm:w-auto;
	}

	.disabled {
		@apply bg-blue-300 cursor-not-allowed;
	}
}

a {
	font-weight: 500;
}
a:hover {
	font-weight: 600;
}
